<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="FileLayout" value="${longdate} ${pad:padding=8:inner=${level:uppercase=true}} ${pad:padding=5:inner=${threadid}} ${logger} ${message} ${onexception:EXCEPTION\:${exception:format=tostring}}" />
  <variable name="ConsoleLayout" value="${message} ${onexception:EXCEPTION\:${exception:format=tostring}}" />
  <variable name="FileNameFolder" value="${specialfolder:CommonApplicationData}\Tyler Technologies\New World\Integrations\Logging\Service" />
  <variable name="ServiceFileName" value="IntegrationService" />
  <variable name="FileExtension" value="log" />

  <targets>
    <target name="ServiceFileAsyncTarget" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${FileNameFolder}\${ServiceFileName}.${FileExtension}" archiveFileName="${FileNameFolder}\${ServiceFileName}-{##}.${FileExtension}" archiveAboveSize="5120000" maxArchiveFiles="10" concurrentWrites="false" archiveNumbering="Rolling" autoFlush="true" layout="${FileLayout}" />
    </target>
    
    <target name="ConsoleTarget" xsi:type="ColoredConsole" layout="${ConsoleLayout}">
      <highlight-row condition="level &gt; LogLevel.Warn" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Cyan" />
      <highlight-row condition="level &lt; LogLevel.Info" foregroundColor="DarkGray" />
    </target>
  </targets>

  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" writeTo="ConsoleTarget" enabled="false" />
    <logger name="NewWorld.*" minlevel="Trace" writeTo="ConsoleTarget" />
    
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" writeTo="ServiceFileAsyncTarget" enabled="false" />
    <logger name="NewWorld.*" minlevel="Trace" writeTo="ServiceFileAsyncTarget" />
  </rules>
</nlog>